body {
  background-color: deeppink;
  display: grid;
  grid-template-rows: 5vh auto 5vh auto 5vh auto;
  grid-template-columns: auto 70vw auto;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 2vh;
}

div.make-fetch-happen-wrapper {
  background-color: lightpink;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  padding: 1em;
  border-radius: 10vw;
  border: 4px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 0px;
  font-family: 'Permanent Marker', cursive;
  font-size: 3.5em;
  color: hotpink;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: mediumvioletred;
}

h2 {
  margin: 0px;
  font-size: 1.2em;
}

div.random-quote-wrapper {
  background-color: pink;
  grid-column: 2 / span 1;
  grid-row: 4 / span 1;
  padding: 2em 3em;
  font-size: 1.4em;
  border: 4px solid white;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.docs-wrapper {
  background-color: pink;
  grid-column: 2 / span 1;
  grid-row: 6 / span 1;
  padding: 2em 3em;
  font-size: 1.4em;
  border: 4px solid white;
  border-radius: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}

div.example-json-wrapper {
  text-align: left;
  background-color: white;
  max-width: 60vw;
  overflow-x: scroll;
  margin-bottom: 3vh;
}

code {
  font-size: 0.7em;
}
